body {
  font-family: Verdana, "DejaVu Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  /* 2 values: Top/Bottom and Left/Right
       3 values: Top Right/Left Bottom
       4 values: Top Right Bottom Left*/
  /* margin: 0px 80px; */
  background-color: #1f2937;
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 28px;
}

.head.right {
  color: #e5e7eb;
  font-size: 18px;
}

img {
  height: 350px;
  width: 250px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.info {
  color: #e5e7eb;
}

.main.container {
  display: flex;
  color: white;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  padding: 60px 200px;
  flex-grow: 1;
  gap: 80px;
  align-items: center;
}

button {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  cursor: pointer;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 600;
  /* Rounded corners beneath? */
  border-radius: 8px;
}

.c.title {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

.empty-box{
  height: 170px;
  border: 3px solid #3882f6;
  border-radius: 14px;
  margin-bottom: -8px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 200px;
}

.cards {
  text-align: center;
  color:dark gray;
}

.items {
  width: 170px;
}